* {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.qr-img {
  width: 20em;
  border-radius: 10px;
}
.container {
  width: 22em;
  padding: 1em;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.034);
}
.container,
.container > * {
  background-color: hsl(0, 0%, 100%);
}
.title {
  font-size: 1.5em;
  width: 700;
  color: hsl(218, 44%, 22%);
  padding: 1em 0.75em;
}
.description {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0 2em 1.5em 2em;
}
@media (max-width: 375px) {
  .container {
    width: 20em;
  }
  .title {
    font-size: 1.3em;
  }
  .qr-img {
    width: 18em;
  }
}
